# live-build throwaway state and build artifacts
build/work/
*.iso
*.img

# user-supplied wallpaper (don't commit copyrighted art)
theme/wallpaper/*.png
theme/wallpaper/*.jpg

# vagrant
.vagrant/

# python
__pycache__/
*.pyc
